.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    padding: 0;
}
.card img {
    border-radius: 30px 30px 15px 15px;
    width: 250px;
    min-height: 200px;

    max-width: 90%;
    height: auto;
    padding-top: 5%;
    object-fit: cover;
}